<nb-card size="large">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Prime Rate">

      <div class="slider-container">
        <ngx-temperature-dragger [(value)]="temperature" (power)="temperatureOff = !$event"
                                 [min]="temperatureData.min" [max]="temperatureData.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': temperatureOff }">
            <div class="value temperature h1">
              {{ temperatureOff ? '--' : (temperature | number:'1.2-2') }}
            </div>
            <div class="desc">
              prime rate, APR
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>

      <nb-radio-group [(ngModel)]="temperatureMode" name="rate-scenario" class="scenario-group">
        <nb-radio value="base">Base</nb-radio>
        <nb-radio value="hike">+25 bps</nb-radio>
        <nb-radio value="cut">-25 bps</nb-radio>
      </nb-radio-group>
    </nb-tab>

    <nb-tab tabTitle="Liquidity Coverage">

      <div class="slider-container">
        <ngx-temperature-dragger [(value)]="humidity" (power)="humidityOff = !$event"
                                 [min]="humidityData.min" [max]="humidityData.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': humidityOff }">
            <div class="value humidity h1">
              {{ humidityOff ? '--' : (humidity | ngxRound) }}
            </div>
            <div class="desc">
              liquidity coverage ratio
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>

      <nb-radio-group [(ngModel)]="humidityMode" name="liquidity-scenario" class="scenario-group">
        <nb-radio value="base">Base</nb-radio>
        <nb-radio value="stress">Stress</nb-radio>
        <nb-radio value="severe">Severe</nb-radio>
      </nb-radio-group>
    </nb-tab>
  </nb-tabset>
</nb-card>
