<nb-card-header>
  <i class="ion-social-usd"></i>
  <span class="title">Net Interest Income</span>
</nb-card-header>
<nb-card-body>
  <div class="info">
    <div class="period">
      <div class="caption">Q2 FY26</div>
      <div class="label">
        <span class="currency">$</span>14.2B
      </div>
    </div>
    <div class="period latest">
      <div class="caption">Q3 FY26</div>
      <div class="label">
        <span class="currency">$</span>14.9B
      </div>
    </div>
  </div>
  <ngx-stats-ares-chart [points]="chartData"></ngx-stats-ares-chart>
</nb-card-body>
